@page "/"
@page "/home"
@using MedbaseLibrary.Models;

@using MedbaseLibrary.Services;
@using MedbaseComponents.Controls;
@using MudBlazor
@inject NavigationManager navManager;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IApiRepository repository
@inject IDialogService DialogService

<PageTitle>@title</PageTitle>
<HeadContent>
    <title>@title</title>
    <meta name="title" content="@title" />
    <meta name="description" content="@description" />

    <!-- Open Graph / Facebook -->
    <meta name="og:type" content="website" />
    <meta name="og:url" content="@navManager.BaseUri" />
    <meta name="og:title" content="@title" />
    <meta name="og:description" content="@description" />
    <meta name="og:image" content="@image" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="@navManager.BaseUri" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@image" />
</HeadContent>

<header>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <MudImage Src="img/medbase_transparent.png" Style="max-height:80px" />
                <MudText Typo="Typo.h6" Class="lead fw-normal">Over 2,000 MCQs (with answers & explanations) on <strong>Pre-clinical</strong> and <strong>Clinical Medical School</strong> courses</MudText>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <MudButton Variant="Variant.Filled" Href="/courses" StartIcon="@Icons.Material.Filled.EmojiEmotions" Color="Color.Primary">Get Started</MudButton>
                    <MudButton Variant="Variant.Filled" Href="/about" StartIcon="@Icons.Material.Filled.Book" Color="Color.Primary">Learn More</MudButton>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 m-5">
                <img class="img-fluid bg-transparent h-100" src="img/index-illustration.png" style="max-height:400px;">
            </div>
        </div>
    </div>
</header>

<section class="container mt-5">
    <div class="row gx-5 mt-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">
                <MudText class="fw-bolder" Typo="Typo.h5">From our blog</MudText>
                <MudText class="lead fw-normal mb-5" Typo="Typo.h6">
                    A few bits & bobs on medical school and the likes
                </MudText>
            </div>
        </div>
    </div>
    <div class="row gx-5">
        @foreach (Article item in Articles)
        {
            <div class="col-lg-4 mb-5">
                <MudCard @onclick="() => GoToArticle(item.Id)">
                    <MudCardMedia Height="300" Image="@item.ImageURL" alt="..." />
                    <MudCardContent class="card-body p-4">
                        <h5 class="card-title mb-3">
                            @item.Title
                        </h5>
                        <p class="mb-0">
                            @item.Summary
                        </p>
                        <MudDivider/>
                        <div class="small">
                            <MudText Typo="Typo.subtitle2" class="fw-bold">@item.Writer</MudText>
                            <MudText Typo="Typo.caption">
                                @item.DatePosted.ToString("dddd, dd MMMM yyyy")
                            </MudText>
                        </div>
                    </MudCardContent>
                </MudCard>
            </div>
        }
    </div>
</section>


<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <MudText Typo="Typo.h2" class="display-4 fw-bold">Medbase Mobile Application📱</MudText>
            <MudText>
                Get your MCQs offline, create quizzes & much more. Everything is better in the app.
            </MudText>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="https://play.google.com/store/apps/details?id=com.tanakamawere.medbasehybrid"><img src="img/google_play_badge.png" alt="" style="max-width:300px" /></a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 m-5">
            <img class="img-fluid" src="img/deviceframes.png">
        </div>
    </div>
</div>

@code{
    private IEnumerable<Article> Articles { get; set; } = Enumerable.Empty<Article>();
    [Parameter]
    public string userId { get; set; } = "";
    private UserDetails user;
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await GetArticlesAsync(); 
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(userId))
        {
            OpenWelcomeDialog(user);
        }
    }

    private string description = "Medbase is a website and an app that helps medical students learn anatomy, physiology and pathology through true or false format MCQs and Notes. Medbase is a useful tool for medical students who want to test their knowledge and prepare for their exams";
    private string title = "Home | Medbase";
    private string image = "https://i.postimg.cc/T1DjN4S5/Logo.png";

    private async Task GetArticlesAsync()
    {
        try
        {
            Articles = await repository.GetArticlesNumbered(3);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Here is the problem: " + ex);
        }   
    }

    private async void OpenWelcomeDialog(UserDetails user)
    {
        var parameters = new DialogParameters<WelcomeToMedbaseDialog>();
        parameters.Add(x => x.UserDetails, user);
        var options = new DialogOptions()
            {
                CloseButton = true,
                MaxWidth = MaxWidth.ExtraExtraLarge,
                Position = DialogPosition.Center,
            };
        DialogService.Show<WelcomeToMedbaseDialog>(null, parameters, options);
    }

    private void GoToArticle(int article)
    {
        Console.WriteLine(navManager.BaseUri.ToString());
        navManager.NavigateTo($"/article/{article}");
    }    
}